version: '3'
# Note: copier le certificat letsencrypt dans /opt/gitlab/config/ssl/
services:
  gitlab  :
    image: 'gitlab/gitlab-ce:latest'
    container_name: gitlab
    restart: always
    hostname: 'gitlab.niaina.tech'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'https://gitlab.niaina.tech'
    ports:
      - '9080:80'
      - '9443:443'
      - '9022:22'
    volumes:
      - '{{ devops_tools.state_base_dir }}/gitlab/config:/etc/gitlab'
      - '{{ devops_tools.state_base_dir }}/gitlab/logs:/var/log/gitlab'
      - '{{ devops_tools.state_base_dir }}/gitlab/data:/var/opt/gitlab'
    networks:
      - gitlab-network
  gitlab-runner1:
    image: gitlab/gitlab-runner:latest
    container_name: gitlab-runner1
    hostname: gitlab-runner1
    volumes:
      - '{{ devops_tools.state_base_dir }}/gitlab/gitlab-runner1-config:/etc/gitlab-runner:Z'
      - '/var/run/docker.sock:/var/run/docker.sock'
    networks:
      - gitlab-network

networks:
  gitlab-network:
    name: gitlab-network

# DJrz3Uz_gUpU7GWkePza